body {
    width: 450px;
    height: 550px;
    /*background-color: rgb(178, 255, 255);*/
    background-color: rgb(255, 255, 255); 
    /*border-style: solid;*/
}

a:link {
    text-decoration: none;
    color: black
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(234, 4, 234);
}


#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#image {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 477px;
    width: 450px;
}

#bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(0, 34, 255, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s;
}

.bustream {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(85, 0, 125, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s;
}
.buesport {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(178, 255, 255, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s;
}
.buhome {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(0, 34, 255, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s;
}
.buformula1 {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(255, 0, 0, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s;
}
.bumanga {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(255, 0, 255, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s;
}
.bustream:hover {
    background-color: rgba(85, 0, 125, 0.8);
}
.buesport:hover {
    background-color: rgba(178, 255, 255, 1);
}
.buhome:hover {
    background-color: rgba(0, 34, 255, 0.477);
}
.buformula1:hover {
    background-color: rgba(255, 0, 0, 0.97);
}
.bumanga:hover {
    background-color: rgba(255, 0, 255, 1);
}

.BoutonInfo {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(0, 34, 255, 0);
    border-style: none;
    border-radius: 10%;
    transition: background-color 0.15s; 
}
.BoutonInfo:hover {
    background-color: rgba(255, 0, 0, 0.477); 
}



