#recherche {
    padding: 5px;
    width: 440px;
    height: 40px;

    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    z-index: 100;

    margin-top: 10px;
    margin-bottom: 10px;
}

/* Stream ***************************************************************************************************/
#addStream {
    display: none;
    height: 30px;
}

#buAddStream {
    height: 30px;
    width: 30px;
    padding: 0%;
    transition: all 0.1s;
}

#buAddStream:hover {
    transform: scale(120%);
}

#inAddStream {
    height: 40px;
    width: 150px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: rgb(215, 143, 248);
    border-style: none;
    border-radius: 5px;
    transition: all 0.1s;
}

#inAddStream:hover {
    transform: scale(110%);
}

#inAddStream::placeholder{
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
    align-self: center;
}


#inAddStream::selection {
    border: 10px;
}

#buRemoveStream {
    height: 30px;
    width: 30px;
    padding: 0%;
    align-items: normal;
    transition: all 0.1s;
}

#buRemoveStream:hover {
    transform: scale(120%); 
}

#MenuAddStream{
    display: none;
    flex-direction: column;
   /* we will toggle then the display of the end-menu */
    margin: 50px auto;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
}

#infoStreamerTrouver {
    color: black;
}

#buValStream {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buVal {
    height: 30px;
    width: 30px; 
}

#imgVal {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    transition: all 0.1s; 
}

#imgVal:hover {
    transform: scale(120%);
}

#imgRes {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    transition: all 0.1s;
}

#imgRes:hover {
    transform: scale(120%);
}

#MenuRemStream{
    display: none;
    flex-direction: column;
   /* we will toggle then the display of the end-menu */
    margin: 50px auto;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(228, 179, 251);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
}


#infoStreamerTrouver {
    color: black;
}

#ajoutStream {
    height: 40px;
    width: 40px;
}

#retrait {
    height: 40px;
    width: 40px;
}

/* Esport ***************************************************************************************************/

#game {
    display: none;
}

#inGame {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    background-color: rgb(205, 255, 255);
    border-style: none;
    border-radius: 5px;
    color: black;
    transition: all 0.1s;
    margin-bottom: 5px;
}

#inGame:hover {
    transform: scale(110%);
}


/* Home **************************************************************************************************/

#addFavoris{
    display: none;
}

#ajoutFav {
    height: 40px;
    width: 40px;
    transition: all 0.1s;
}

#ajoutFav:hover {
    transform: scale(120%);
}

#MenuAddFav{
    display: none;
    flex-direction: column;
   /* we will toggle then the display of the end-menu */
    margin: 50px auto;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;

}

#boutonCroix {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-top: 5px;
}

#croix {
    height: 20px;
    width: 20px;
    padding: 5px;
    transition: all 0.1s; 
}

#croix:hover {
    background-color: rgb(255, 131, 131);
}

#inImageFav {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 34, 255, 0.477);;
    border-style: none;
    border-radius: 5px;
    color: black;
    transition: all 0.1s;
    margin-bottom: 5px;
}

#inImageFav::placeholder{
    color: black;
}

#inNomFav {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 34, 255, 0.477);;
    border-style: none;
    border-radius: 5px;
    color: black;
    transition: all 0.1s;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inNomFav::placeholder {
    color: black;
}

#inUrlFav {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 34, 255, 0.477);
    border-style: none;
    border-radius: 5px;
    color: black;
    transition: all 0.1s;
    margin-top: 5px;
    margin-bottom: 10px;
}

#inUrlFav::placeholder {
    color: black;
}



#validationFav {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    transition: all 0.1s;
}

#validationFav:hover {
    transform: scale(120%);
}

.croixFav {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    transition: all 0.1s;
    padding: 5px;
}

.croixFav:hover {
    background-color: rgb(255, 131, 131);
}

#MenuRemFav{
    display: none;
    flex-direction: column;
   /* we will toggle then the display of the end-menu */
    margin: 50px auto;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
    background-color: rgb(160, 172, 250);
}

#question {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400; 
}

#buRemFavo {
    display: flex;
    flex-direction: row;
    justify-content: center;

}




/* Formula 1 **************************************************************************************************/
#year {
    display: none;
}

#inYear {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    background-color: rgb(255, 86, 86);
    border-style: none;
    border-radius: 5px;
    color: black;
    transition: all 0.1s;
}

#inYear:hover {
    transform: scale(110%);
}

#inYear::placeholder{
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
    align-self: center;
}



#validation {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    transition: all 0.1s;
}

#validation:hover {
    transform: scale(120%);
}
/* Manga *********************************************************************************************************************/
#titre {
    display: none;
}

#inTitre {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    background-color: rgb(251, 149, 234);
    border-style: none;
    border-radius: 5px;
    color: black;
    transition: all 0.1s;
}

#inTitre:hover {
    transform: scale(110%);
}

#inTitre::placeholder {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
    align-self: center; 
}